#operating
{
    margin: 50px 0px 68px 0px;
    
}
.operating
{
    &__card
    {
        @include card-shadow;
        @include center;
        border-radius: 30px;
        width: 87%;
        height: 75px;
        background-color: $primary-bg-color;
        display: flex;
        cursor: pointer;
        align-items: center;
        margin-bottom: 30px;
        &__num
        {
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            width: 25px;
            height: 25px;
            background-color: $primary-color;
            position: relative;
            right: 10px;
            margin-right: 12px;
        }
        i
        {
            color: darken($color: $primary-bg-color, $amount: 50%);
            font-size: 20px;
            margin-right: 27px;
        }
        &:hover
        {
            background-color: lighten($primary-color, 35%);
            i
            {
                color: $primary-color;
            }
        }
    }

}