#restaurants
{
    background-color: $primary-bg-color;
    padding-bottom: 60px;
    h2
    {
        padding-top: 58px;
        margin-bottom: 27px;
    }
}
.restaurant
{
    &__card
    {
        @include card-shadow;
        @include center;
        display: block;
        height: 250px;
        width: 88%;
        border-radius: 20px;
        margin-bottom: 18px;
        background-color: white;
        text-decoration: none;
        color: black;
        position: relative;
        &__img
        {
            overflow: hidden;
            height: 174px;
            border-radius: 20px 20px 0px 0px; 
            img
            {
                object-fit: cover;
                width: 100%;
                height: 250px;
                position: relative;
                bottom: 62px;
            }
        }
        &__description
        {
            margin: 17px 0px 0px 14px;
            position: relative;
            &>i
            {
                position: absolute;
                font-size: 21px;
                right: 24px;
                top: 6px;
            }    
            p
            {
                margin-top: 3px;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        &__card
        {
            width: 45%;
        }
        &__responsive
        {
            display: flex;
            flex-wrap: wrap;
        }
    }

}
.new::after
{
    content: "Nouveau";
    width: 80PX;
    height: 30PX;
    background-color: $tertiary-color;
    position: absolute;
    top: 12PX;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darken($tertiary-color, 40%);
    font-weight: bold;
    border-radius: 2px;
}